<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pawelleszczynski.frontendessentials">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FrontEndEssentials">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".GraphActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".CalcActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".TemplateActivity"
            android:parentActivityName=".MainActivity">
        </activity><activity android:name=".MinActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".CalcPxToEm"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcEmToPx"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcPxToRem"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcRemToPx"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcPxToPercent"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcPercentToPx"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcPxToVh"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcVhToPx"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcPxToVw"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".CalcVwToPx"
            android:parentActivityName=".CalcActivity">
        </activity>
        <activity android:name=".MinCSSMin"
            android:parentActivityName=".MinActivity">
        </activity><activity android:name=".MinJSMin"
            android:parentActivityName=".MinActivity">
        </activity>
    </application>
</manifest>